/.idea/
/docker/postgres/.env
/docker/palabras/.env
/docker/palabras/palabras/
/docker/translator/.env
/docker/translator/translator/
/docker/nginx/proj/
/docker/nginx/html/
/docker/yew-study/yew-study/
/k8s/tst/no_share.sh
/k8s/tst/logs/
/k8s/tst/port-forward.log
/k8s/tst/tst-port-forward.log
/k8s/tst/init-test-secrets.sh
/k8s/tst/.env-test
