/.idea/
/docker/postgres/.env
/docker/palabras/.env
/docker/palabras/palabras/
/docker/translator/.env
/docker/translator/translator/
/docker/nginx/proj/
/docker/nginx/html/
/docker/yew-study/yew-study/
/k8s/dev/no_share.sh
/k8s/dev/logs/
